.nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-wrapper{
    display: flex;
    direction: row;
    justify-content: center;
    align-items: center;
}

.brand{
font-weight: 800;
color: #7E22CE;
padding-left: 8px;
}

.nav-icon-wrapper{
    display: flex;
    width: 120px;
    justify-content: space-between;
}