.upload-heading {
  font-weight: 700;
  color: #7e22ce;
  font-size: 45px;
  margin: 0px;
}

.upload-device-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px dotted #999999;
  border-radius: 16px;
  padding: 16px;
}

.select-file-btn {
  background-color: white;
  color: #7e22ce;
  border: 2px solid #7e22ce;
  padding: 16px 24px;
  border-radius: 24px;
  font-weight: 700;
}
