.project-card-wrapper{
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 28%;
    justify-content:flex-start;
    align-items: center;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0px 0px 1px 1px #999999;
    

}

.project-name-short{
    text-align: center;
    margin:0px;
    background-color: #7E22CE;
    padding: 0px 18px;
    color: white;
    border-radius: 8px;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.project-last-edited{
    color: #969696;
    font-size: 16px;
}
